<div style="padding: 20px; font-family: sans-serif;">
  <h2>ระบบจัดการบุคลากร (CRUD)</h2>

  <!-- ส่วนที่ 1: ฟอร์มเพิ่มข้อมูล (Create) -->

  <div style="margin-bottom: 20px;">
    <button (click)="loadData()">
      รีโหลดข้อมูล
    </button>
    <button (click)="openModal('', 'create')">
      เพิ่มข้อมูล
    </button>
  </div>

  <div *ngIf="patientModal" style="border: 1px solid #ccc; padding: 20px; margin-bottom: 20px;">
    <h3>เพิ่ม/แก้ไขข้อมูลผู้ป่วย</h3>
    <div>
      <form [formGroup]="patientForm" style="margin-bottom: 20px;">
        <!-- ใช้ # (Template Reference) เพื่อดึงค่าจากช่อง Input ง่ายๆ -->
        <div>
          <label for="idCard">เลขประจำตัวประชาชน:</label>
          <input id="idCard" type="text" formControlName="cid" maxlength="13" placeholder="กรอกเลข 13 หลัก">

          <div *ngIf="patientForm.get('cid')?.touched && patientForm.get('cid')?.invalid">
            <small style="color: red;">กรุณากรอกเลขบัตรประชาชนให้ครบ 13 หลัก</small>
          </div>
        </div>
        <div>
          <label for="prefix">เลือกคำนำหน้า:</label>
          <select id="prefix" formControlName="prefix"
            style="display: block; width: 100%; max-width: 300px; height: 30px; margin-top: 5px; padding: 5px; border-radius: 4px; border: 1px solid #ccc;">
            <option *ngFor="let item of prefixList" [value]="item.id">{{ item.name }}</option>
          </select>
        </div>
        <div>
          <label for="name">ชื่อ-สกุล:</label>
          <input type="text" formControlName="first_name" placeholder="ชื่อ" style="margin-right: 5px;">
          <input type="text" formControlName="last_name" placeholder="สกุล" style="margin-right: 5px;"><br>
        </div>
        <div>
        <label for="gender">เลือกเพศ:</label>
          <select id="gender" formControlName="gender"
            style="display: block; width: 100%; max-width: 300px; height: 30px; margin-top: 5px; padding: 5px; border-radius: 4px; border: 1px solid #ccc;">
            <option *ngFor="let item of genderList" [value]="item.id">{{ item.name }}</option>
          </select>
        </div><br>
        <div>
          <label for="other">วันเดือนปีเกิด:</label>
          <input type="date" formControlName="birth_date" placeholder="วันเกิด" style="margin-right: 5px;">
          <label for="other">เบอร์โทร:</label>
          <input type="text" formControlName="phone" placeholder="เบอร์โทร" style="margin-right: 5px;">
          <label for="other">ที่อยู่:</label>
          <input type="text" formControlName="address" placeholder="ที่อยู่" style="margin-right: 5px;">

        </div>
      </form>
    </div>
    <div>
      <button (click)="addNew()">
        บันทึก
      </button>
    </div>
  </div>

  <!-- ส่วนที่ 2: ตารางแสดงข้อมูล (Read, Delete) -->
  <table border="1" cellpadding="10" style="border-collapse: collapse; width: 100%; max-width: 500px;">
    <thead>
      <tr style="background-color: #f2f2f2;">
        <th>hn</th>
        <th>คำนำหน้า</th>
        <th>ชื่อ</th>
        <th>สกุล</th>
        <th>เพศ</th>
        <th>วันเกิด</th>
        <th>เบอร์โทร</th>
        <th>ที่อยู่</th>
        <th>สร้างเมื่อ</th>
        <th>แก้ไขเมื่อ</th>
      </tr>
    </thead>
    <tbody>
      <!-- ใช้ @for วนลูปข้อมูลในตัวแปร items -->
      <tr *ngFor="let item of items;">
        <td>{{ item.hn }}</td>
        <td>{{ item.prefix }}</td>
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.birth_date }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.created_at }}</td>
        <td>{{ item.updated_at }}</td>
        <td style="text-align: center;">
          <button (click)="delete(item.id)" style="color: red;">ลบ</button>
          <button (click)="openModal(item, 'edit')" style="color: red;">แก้ไข</button>
        </td>
      </tr>
      <tr *ngIf="items.length === 0">
        <td colspan="12" style="text-align: center;">ไม่มีข้อมูลบุคคลากร</td>
      </tr>
    </tbody>
  </table>
</div>